<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<application
		android:name=".ApplicationLoader"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:allowBackup="true"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:resizeableActivity="true"
		android:hardwareAccelerated="true"
		tools:targetApi="32">
		<activity
			android:name=".MainActivity"
			android:exported="true"
                        android:windowSoftInputMode="adjustResize"
                        android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".SettingActivity"
			android:exported="true" />
		<activity
			android:name=".DebugActivity"
			android:exported="false" />
	</application>

</manifest>
